body {
    font-family: 'Arvo', serif, sans-serif;
    background-image: url("backgrounds/fabric_of_squares_gray.png");
    color: #777;
}

header {
    font-family: 'VT323', monospace, sans-serif;
    color: #FFF;
    background: url("../backgrounds/header.jpg") no-repeat top center; max-width: 1540px; margin: auto;
    font-size: 150%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-attachment: fixed;
    text-shadow: 3px 3px 5px #000;
}

.subtitle {
    font-size: 75%;
}

.smallertitle {
    color: #000;
    text-align: center;
    font-size: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EFEFEF;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #C6C6C6;
}


#profile_image {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 75px;
}

div#tablecontainer {
    display: table;
}

div#tablerow {
    display: table-row;
}

article {
    display: table-cell;
    
    padding: 5px;
    border: solid #EFEFEF 4px;
    vertical-align: top;
}

article h4 {
    color: #000;
    /*text-align: center;*/
    border-bottom: dashed #A9A9A9
}

aside {
    display: table-cell;
    padding: 5px;
    border: solid #EFEFEF 4px;
    vertical-align: top;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

aside ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
aside ul li a:hover {
    background-color: #FF3B3F;
    color: #FFF;
    border-radius: 10px;
}

.skillexplain {
    text-align: center;
}

.tableTitle {
    vertical-align: middle;
}

.titles {
    text-align: center;
    font-size: 125%;
    color: #000;
}

td {
    text-align: center;
}

th {
    color: #000;
}

section {
    clear: both;
    padding: 5px;
    border: solid #EFEFEF 4px;
}

footer {
    clear: both;
    background: #EFEFEF;
    padding: 5px;
    color: #000;
}

section p {
    text-align: center;
}

section ul {
    text-align: center;
}

section ul li {
    border-radius: 6px;
    display: inline-block;
    background: #FF3B3F;
    color: #fff;
    padding: 5px 8px;
}

section ul li:nth-child(even) {
    background: #CAEBF2;
    color: #000;
}